<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/navbar.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/footer.css" | relative_url }}">
    
    <link rel="icon" href={{ site.logo }} type="image/icon type" style="height: 150%; width: 150%;">
  </head>