<footer>    
    <hr>
    
    <div class="wrapper">
        <div class="contact">
            <h3>Contact me at:</h3>
                <a href="mailto: {{ site.email }}">{{ site.email }}</a>
        </div>

        <div class="license">
            <h4>{{ site.license }}</h4>
        </div>
    </div>
</footer>