<nav>
     <a class="nav-logo" href="{{ site.baseurl }}/">
        <img src={{ site.logo }}>
    </a>
            
    <div class="float-r">
        <a href="{{ site.baseurl }}/projects">Projects</a>
        <a href="{{ site.baseurl }}/updates">Updates</a>
        <a href="{{ site.baseurl }}/about">About</a>
    </div>
</nav>