/// Footer

footer {
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    overflow: hidden;
}

footer hr {
    z-index: 1;

    width: 100%;
    height: 7px;
    margin: 0;
    background-color: rgb(200,100,100);
}

footer .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: rgba(140, 140, 140, 0.699);
}

footer .contact {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 15px;
}

.contact a {
    padding-left: 5px;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}
