///Main body 
body {
  background-color: whitesmoke;
  margin:0;
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
}

h1 {
  padding-left: 15px;
  user-select: none;

  font-size: 20px;
}

.container {
  background-color: rgba(70, 70, 70, 0.95);
  color: rgb(200,100,100);

  display: flex;
  border-radius: 15px;

  margin: auto;
  margin-top: 50px;
  max-width: 95%;

  height: auto;
  width: auto;
}
