/// Navbar
nav {
    position: absolute;
    top: 0;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    
    max-height: 60px;
    overflow: hidden;
  
    background-color: rgb(50, 50, 50);   
  }  
  
  nav .nav-logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .nav-logo img {
    height: 40px;
    width: 40px;
  }
  
  nav .float-r {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    }
  
  nav a {
    text-decoration: none;
    color: rgb(200,100,100);
  
    padding: 16px 14px;
  
    font-weight: bold;
    font-size: 17px;
  }
  
  nav a:hover {
    background-color: rgb(70,70,70);
  }