<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

  {% include headers/home_header.html %}

  <body>
    <!-- Navigation bar -->
    {% include navbar.html %}
    
    <!-- Main body -->
        
    <!-- Footer -->
    {% include footer.html %}
</body>
</html>
